body{
    font-family: 'Nunito Sans', sans-serif;
}
.navbar{
    padding: .7em 10% .7em 10%;
    background-color: #17c13d;
}

.navbar .nav-item .nav-link {
    color: white;
    padding-right: 1em;
    font-weight: bold;
}
.container-doc{
    margin-top: 30px;
}
.imgql{
    width:1050; 
    height:400;
    padding-top:10px;
    padding-bottom: 50px; 
}
.topics{
    padding-top:10px;
    padding-bottom: 10px; 
}
.imgquery{
    padding-bottom: 30px; 
    padding-top: 30px;
}
.content{
   text-align: justify;
   text-justify: inter-word;
}